.register-form {
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #FFF9EB !important ;
    border: #fff solid 5px !important;
    border-radius: 10px !important;
    width: 95% !important;
    padding: 5% 10% 0% !important;
    background-image: url("/people.jpg");
    background-repeat: no-repeat;
    background-size:390px 300px;
    background-position:90% 60%;
}

.title{
    font-weight: normal !important;
    text-align: left !important;
}
.input {
    border: 2px #ffdb8868 solid !important;
    border-radius: 5px !important;
}

.submit{
    background-color: #FFDB88 !important;
    color: black !important;
    border: 2px solid rgb(255, 255, 255) !important;
    border-radius: 5px !important;
    height: 120% !important;
    width: 170px !important;
    top:10% !important;
    font-size: medium !important;
}

.submit:focus{
    background-color: #FF9551 !important;
    border: 2px solid white !important;
    color: white !important;
}

.submit:hover{
    background-color: #FF9551 !important;
    border: 2px solid white !important;
    color: white !important;
}

.warning{
    font-size: small;
    margin: 0px;
    color: rgba(81, 67, 67, 0.662);
    position: relative;
    top: -10px;
}