.row{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: white;
    padding: 0 0 8px;
}

.tags{
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    width: 90px;
    text-align: center;
}