@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@410&display=swap');


.category:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    border-radius: 10px !important;
}

.categories{
    padding: 0px 15px;
}

.category{
    height: 90%;
    width: 95%;
    
}

.img{
    height: 70%;
    width: 100%;
    border-top-left-radius:0.5rem;
    border-top-right-radius:0.5rem;
}

.name {
    height: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 1px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-family: 'Rokkitt', serif;
}

.row {
    margin-top: 8px !important;
}

.col{
    display: flex;
    justify-content: center;
}