.title {
	color: #c98474;
	font-size: 17px !important;
	font-weight: 500 !important;
}

.components {
	display: flex;
	flex-flow: column wrap;
}

.title {
	color: #c98474;
	font-size: 17px !important;
	font-weight: 500 !important;
}

.input {
	font-size: 13px !important;
	border: 0px !important;
	border-bottom: 2px dotted !important;
	border-color: #c98474 !important;
	background-color: #69643100 !important;
	width: 85% !important;
}

.deleteButton {
	font-size: 17px !important;
	color: #fea42a !important;
	position: absolute !important;
	right: 10px;
	bottom: 30px;
}

.addButton {
	border: 0px !important;
	background: #69643100 !important;
	color: #c98474 !important;
	font-weight: 600 !important;
	position: absolute !important;
	left: 3.2rem !important;

}
