.checkbox :global .adm-checkbox-icon{
    background-color: white !important;
    border-color: #ffdb88 !important;
    border-radius: 0px !important;
    border: 2px solid;

}
.checkbox :global .adm-checkbox-icon{
    color:black;
    
}
.checkbox :global .adm-checkbox .adm-checkbox-icon{
    border-radius: 0px;
}

