.upload {
    border-radius: 10px !important;
    background-color: #FFF9EB !important;
    border: 2px solid white;
    width: auto;

}

.upload :global .ant-upload {
    color: #716e6e91;
    ;
    width: 102px;
    background-color: #FFF9EB;
    border: 0px;
    font-weight: 500;
    font-size: medium;
    height: 110px;
    width: 118px;
}


.preview :global .ant-modal-body {
    padding: 0 !important;
}

