.ingredients {
    margin-left: auto !important;
    margin-right: auto !important;
    background: #fff0cc !important ;


    width: 95% !important;
    padding: 5% 10% !important;
    text-align: left;
}

.box{
    inline-size: 224px;
    word-break: break-all;
}