.recipeList{
    border-bottom: 1px solid rgba(135, 97, 10, 0.128);
    
}

.img {
    height: 100px;
    padding-right: 10px;
}

.recipeName {
    font-size: 20px;
    height: auto;

}

.rate{
    padding-left: 10px;
}
