/* .footerNav {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    list-style: none !important;
    padding: 0 20px 0 20px !important;
    align-items: center !important;
	font-size: 30px !important;

} */


.activeButton :global .adm-tab-bar-item-active{
    color: #fd841f !important;
}
