.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    padding: 5px 10px;
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    width: 90px;
    text-align: center;
}

.servings{
    padding: 5px 10px;
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    width: 90px;
    text-align: center;
}