/* .login-form {
    margin-left: auto !important;
    margin-right: auto !important;
    background: #FFDB88 !important ;
	border: #fff solid 5px !important;
	border-radius: 10px !important;
    width: 95% !important;
    padding: 5% 10% !important;
} */

.title{
    font-weight: normal !important;
    text-align: left !important;
    font-size: 20px !important;
}

.input{
    border: 0px !important;
    border-radius: 5px !important;
}

.remember{
    width: 100% !important;
    position: relative !important;
    top:5% !important;
    --icon-size: 17px !important;
    --font-size: 15px !important;
    --gap: 6px !important;
}

.submit{
    background-color: #fff9eb !important;
    color: black !important;
    border: 2px solid white !important;
    border-radius: 5px !important;
    height: 120% !important;
    width: 172px !important;
    position: relative !important;
    bottom:20% !important;
    font-size: medium !important;
}

.submit:focus{
    background-color: #FF9551 !important;
    border: 2px solid white !important;
    color: white !important;
}

.submit:hover{
    background-color: #FF9551 !important;
    border: 2px solid white !important;
    color: white !important;
}

.signUp{
    position: relative!important;
    color: black !important;
    bottom: 15px !important;
    font-size: 14px !important;
}

.signUp:hover{
    color: #F96666 !important;
}