.login-form {
    margin-left: auto !important;
    margin-right: auto !important;
    background: #FFDB88 !important ;
	border: #fff solid 5px !important;
	border-radius: 10px !important;
    width: 95% !important;
    padding: 5% 10% !important;
}

.title{
    font-weight: normal;
    text-align: left;
}

.input{
    border: 0px;
    border-radius: 5px;
}

.remember{
    width: 60%;
    position: absolute;
    right:53%;
    top:5%;
}

.submit{
    background-color: #fff9eb;
    color: black;
    border: 2px solid white;
    border-radius: 5px !important;
    height: 120%;
    width: 80%;
    position: absolute;
    right:42.5%;
    bottom:20%;
}

.signUp{
    position: relative!important;
    color: black !important;
    bottom: 15px !important;
    font-size: 6px;
}


.submit:active{
    background-color: #FF9551;
}
    
.submit:focus{
    background-color: #FF9551;
    border: 2px solid white!important;
}

.submit:hover{
    background-color: #FF9551;
    border: 2px solid white!important;
}

.signUp:hover{
    color: #F96666 !important;
}
