.app {
    /* height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
}
  
.body {
    /* display: flex; */
    /* justify-content: center; */
	/* align-items: center; */
}
  
.bottom {
	position: absolute;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color: #fff0cc;
    border-top: solid 1px var(--adm-color-border);
}
