.header {
	background-color: #ffdb88 !important;
	padding: 0 0 0 0 !important;
}

.navigation {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	list-style: none;
	padding: 0 20px 0 20px;
	align-items: center;
}

.content {
	background-color: #ffdb88 !important;

}

.footer {
	background-color: #ffdb88 !important;
	padding-top: 30% !important;
}

.components {
	display: flex !important;
	justify-content: space-around !important;
    align-items: center;
    padding: 20px 9px 0 10px !important;
}

.servings{
	display: flex !important;
	justify-content: space-around !important;
    padding: 20px 16px 10px 16px !important;
}

.intro{
	padding: 20px 21px 0px 21px !important;
}

.ingredients {
	background: #fff9eb !important ;
	border: #fff solid 5px !important;
	margin: 20px !important;
	border-radius: 10px !important;
	padding: 13px !important;

}

.methods {
	background: #fff9eb !important ;
	border: #fff solid 5px !important;
	margin: 20px !important;
	border-radius: 10px !important;
	padding: 13px !important;
}
