.logout :global .ant-btn-dashed:hover{
    border-color: rgba(228, 154, 154, 0.47) !important;
    color: red !important;
}

.logout :global .ant-btn-dashed:focus{
    border-color: rgba(228, 154, 154, 0.47) !important;
    color: red !important;
    --antd-wave-shadow-color: red;
}

.logout :global .ant-btn-dashed{
    border-color: white !important;
    border: 2px white dashed !important;
    color: black !important;
    background: #ffdb88;
    border-radius: 10px !important;
    height: 40px;
}

.logout{
    position:relative;
    top: 50px;
    padding: 30px;
}